<!-- This navbar was built using the how to article found at
    https://www.w3schools.com/howto/howto_js_topnav.asp -->
<div class="navbar" id="navbar">
    <a href="/" id="home">Home</a>
    <div class="dropdown">
        <button id="learn" class="dropbutton">Learn Code &#9660</button>
        <div class="dropdown-content">
            <a href="/loops" id="loops">Python Loops</a>
            <a href="/conditionals" id="conditionals">Java Conditionals</a>
        </div>
      </div>
    <a href="/fractal" id="fractal">Fractal Trees</a>
    <a href="/contact" id="contact">Contact</a>
    <a href="/about" id="about">About</a>
</div>