<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <%- include ("../partials/navbar.ejs") %>
        <main>
            <h1><strong>Java Conditionals</strong></h1>
            <p>
                Let's take a look at conditionals in the Java programming language.
                <a href="https://www.java.com/">Java</a> is another popular programming language. It is a little harder
                to get started in versus Python, but is still widely used by everyone from software engineers to
                beginners. Some really cool applications have been developed using Java, including the original version
                of <a href="https://www.minecraft.net/en-us/store/minecraft-java-edition">Minecraft</a>!
            </p>
            <p>
                Below is an embedded <a href="https://docs.oracle.com/javase/8/">Java 8</a> Runtime Environment. It
                allows us to write Java code and run it within a web browser, all without having to install any addition
                programs. There are three challenges populated below. See if you can complete them all.
            </p>
            <p>
                Note: If you mess up and need to start over, click the menu button (&#9776) below and select reset.
            </p>
            <h3><strong>That's enough background information for now, let's start coding!</strong></h3>

            <iframe src="https://trinket.io/embed/java/65982b3057" width="100%" height="356" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>
        </main>
</body>
<script>
    // Set active link in the navbar
    document.getElementById("conditionals").classList.add("active")
    document.getElementById("learn").classList.add("active")
</script>

</html>