<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <%- include ("../partials/navbar.ejs") %>
        <main>
            <h1><strong>Contact</strong></h1>
            <p>
                If you have comments, questions, or would like to contribute or support this project,
                please let me know!
            </p>
            <p>Email: <a href="mailto:bradhuber1@yahoo.com">Brad Huber</a></p>
        </main>
        <script>
            // Set active link in the navbar
            document.getElementById("contact").classList.add("active")
        </script>
</body>

</html>