<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <%- include ("../partials/navbar.ejs") %>
        <main>
            <h1><strong>Trailblazer Elementary Coders!</strong></h1>
            <h2><strong>Or should we say Codeblazers?!</strong></h2>
            <p>
                Welcome Trailblazer coders! This website was created for you to help demonstrate
                the awesomeness of coding. If you are interested in learning more or contributing
                to the site, let your teachers know. As you progress through your course at
                Trailblazer, this site will be updated to help demonstrate the benefits of the skills
                you are learning and how these concepts can be applied to more complex applications.
                Maybe we can also make this site look a lot cooler in the process =).
            </p>
            <p>
                Hopefully you enjoy this project and I look forward to coding with you! ~ Mr. Huber
            </p>
            <h3>
                <strong>Happy coding!</strong>
            </h3>
            <h1>Updates for 5/6/2021</h1>
            <p>
                There is an exciting new example for this week using Java! Visit the
                <a href="/conditionals">Java Conditionals</a> page, or you can select the "Java Conditions" link from
                the "Learn Code" dropdown on the navigation bar above to view the new example.
            </p>
            <p>
                The <a href="/loops">Python Loops</a> page has also moved to the "Learn Code" dropdown on the navigation
                bar above.
            </p>
            <h1>Updates for 4/29/2021</h1>
            <p>
                Besides the new layout of the site, there is an exciting new example for this week using Python! Visit
                the <a href="/loops">Python Loops</a> page, or you can select the "Python Loops" link from the
                navigation bar above to view the new example.
            </p>
            <p>
                To view the fractal tree from last week, visit the <a href="/fractal">Fractal Trees</a> page, or select
                the "Fractal Trees" link from the navigation bar above.
            </p>
            <p>
                The <a href="about">about</a> page has some more information about the project including the link to
                download the entire source code for this project. I hope to have instructions for how to download,
                install, and run your own version of this project very soon!
            </p>
        </main>
        <script>
            // Set active link in navbar
            document.getElementById("home").classList.add("active")
        </script>
</body>

</html>