<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <%- include ("../partials/navbar.ejs") %>
        <main>
            <h1><strong>Python Loops</strong></h1>
            <p>
                Let's take a look at loops in the Python programming language.
                <a href="https://www.python.org/">Python</a> is a very popular programming language and is used by data
                scientists, engineers, inventors, schools and beginners! It can be used to create everything from simple
                scripts to complex applications. It has also been used to create artificial intelligence and machine
                learning programs.
            </p>
            <p>
                Below is an embedded Python Interpreter. It allows us to write
                Python code and run it within a web browser, all without having to install
                any addition programs. There are three challenges populated below.
                See if you can complete them all.
            </p>
            <p>
                Note: If you mess up and need to start over, click the menu button (&#9776) below and select reset.
            </p>
            <h3><strong>That's enough background information for now, let's start coding!</strong></h3>

            <iframe src="https://trinket.io/embed/python3/1fa70ddd60" width="100%" height="356" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>
        </main>
</body>
<script>
    // Set active link in the navbar
    document.getElementById("loops").classList.add("active")
</script>

</html>